In [ ]:
'''1.Count Word Frequency in a Sentence  
Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}  '''

#solution1

In [3]:
sentence = "apple banana apple orange banana apple"
w=sentence.split()
word_frequency = {}
for word in w:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1
print(word_frequency)

{'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
'''2. Find Unique Elements in Two Lists Using Sets  
Task: Given two lists, find the elements that are unique to each list using sets.  
Example:  
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6}  
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6} '''

In [5]:
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6} 
unique_elements = list1 ^ list2
unique_elements

{1, 2, 5, 6}

In [ ]:
'''3. Merge Two Dictionaries  
Task: Merge two dictionaries and sum the values of common keys.  
Example:  
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}  
Output: {'a': 10, 'b': 50, 'c': 40} '''

In [30]:
dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 30, 'c': 40}

merg = dict1.copy()  # Start with a copy of dict1

for key, value in dict2.items():
    if key in merg:
        merg[key] += value  # Sum the values of common keys
    else:
        merg[key] = value  # Add new key-value pairs
print(merg)

{'a': 10, 'b': 50, 'c': 40}

In [34]:
dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 30, 'c': 40}
d=dict1.copy()  #COPY DICT1 TO D
for k,v in dict2.items():
    d[k]=d.get(k,0)+v
d

{'a': 10, 'b': 50, 'c': 40}

In [ ]:
'''4. Find the Intersection of Two Sets  
Task: Given two sets, find the common elements.  
Example:  
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
Output: {3, 4}

In [13]:
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
set1&set2

{3, 4}

In [ ]:
'''Find the Most Frequent Element in a List  
Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)  '''

In [14]:
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]
frequency = {}
for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1

most_frequent = None
max_count = 0

for key in frequency:
    if frequency[key] > max_count:
        max_count = frequency[key]
        most_frequent = key

print(f"Most frequent: {most_frequent} (appears {max_count} times)")

Most frequent: 3 (appears 4 times)

In [ ]:
''' 6. Remove Duplicates from a List Using Sets  
Task: Remove duplicates from a list while maintaining order.  
Example:  
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
Output: [1, 2, 3, 4, 5, 6] '''

In [1]:
lst = [1, 99, 2, 43, 4, 4, 43, 6, 6, 6] 
set(lst)

{1, 2, 4, 6, 43, 99}

In [2]:
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6] 
set(lst)

{1, 2, 3, 4, 5, 6}

In [3]:
a=[34,21,45,22,12,12,45,67,23,12,56,78,98,65,23,77,9,9,9,7]
b=set(a)
print(b)

{65, 34, 67, 98, 7, 9, 12, 45, 78, 77, 21, 22, 23, 56}

In [16]:
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6] 
seen = set()
unique_lst = []

for item in lst:
    if item not in seen:
        unique_lst.append(item)
        seen.add(item)

print(unique_lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
''' 7. Find Students Who Enrolled in Both Courses  
Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"} '''

In [17]:
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"} 
output= course_A  & course_B
print(output)

{'Bob', 'Charlie'}

In [ ]:
''' 8. Find the Union of Multiple Sets  
Task: Find the union of three sets.  
Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
Output: {1, 2, 3, 4, 5, 6, 7} '''

In [18]:
set1 = {1, 2, 3}  
set2 = {3, 4, 5} 
set3 = {5, 6, 7} 
set1 | set2 | set3

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
'''9. Reverse a Dictionary (Keys Become Values, Values Become Keys)  
Task: Swap keys and values in a dictionary.  
Example:  
original_dict = {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}'''

In [19]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
d1={}
for key,values in original_dict.items():
    d1[values]=key
d1

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
''' 10. Check If Two Words Are Anagrams Using Dictionaries  
Task: Given two words, check if they are anagrams (i.e., contain the same letters with the same frequency).  
Example:  
word1 = "listen"  
word2 = "silent"  
Output: True (They are anagrams)  ''' check if two words are anagrams by comparing the frequency of each letter using dictionaries

In [25]:
word1 = "listen"
word2 = "silent"
if len(word1) == len(word2):
    freq1 = {}
    freq2 = {}
    
    for char in word1:
        if char in freq1:
            freq1[char] += 1
        else:
            freq1[char] = 1

    for char in word2:
        if char in freq2:
            freq2[char] += 1
        else:
            freq2[char] = 1
            return 

    if freq1 == freq2:
        print("They are anagrams")
    else:
        print("They are not anagrams")
else:
    print("They are not anagrams")

They are anagrams

In [27]:
# Words to check
word1 = "listen"
word2 = "silent"
char_count1 = {}
char_count2 = {}

for char in word1:
    if char in char_count1:
        char_count1[char] += 1
    else:
        char_count1[char] = 1

for char in word2:
    if char in char_count2:
        char_count2[char] += 1
    else:
        char_count2[char] = 1

are_anagrams = char_count1 == char_count2

print(are_anagrams,"(They are anagrams)")  # Output: True

True (They are anagrams)

In [4]:
word1 = "listen"  
word2 = "silent"

s1 = set(word1)
s2 = set(word2)

if s1==s2:
    print("True (They are anagrams)")
else:
    print("They are not anagrams")

True (They are anagrams)