### 8Function

#8.1 Function definition

#def statement

def <functionname>(input_value):
    return (output_value)

In [11]:
def checkprime(n):
    prime=True
    for i in range(2,n):
        if (n%i==0):
            prime=False
            break
        return prime

In [12]:
checkprime(19)

True

In [13]:
checkprime(3)

True

In [19]:
checkprime(9)

True

In [16]:
#extract all the prime numbers between 2 and 100

In [21]:
N=list(range(2,30))
primes=[]
for num in N:
    if checkprime(num):  #function call 
        primes.append(num)
primes

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

# 8.2 Lambda function

### they are anonymous functions with short definitions, the lambda expression returns a function object

In [ ]:
F= lambda <input> : <output>

In [22]:
f=lambda a,b,c:a+b+c  #function definition

In [24]:
f(10,20,30)  #function call

60

In [25]:
type(f)

function

In [27]:
f('abc','def','frg')  #if we taking strings and call it

'abcdeffrg'

In [28]:
f([1,2,3],[3,4],[5,6,7,8])#if we taking list and call it

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [29]:
f(10.0,80.0,16.7)

106.7

# 8.3 Special functions

In [30]:
T= [12,34,45,67,89]  #temperature in celcius

In [32]:
F=[]
for temp in T:
    F.append(temp*1.8+32)
F

[53.6, 93.2, 113.0, 152.60000000000002, 192.20000000000002]

#map function-map it takes two arguments. map(<function>,<iterator>)  ->colllections is provide

In [34]:
F1=map(lambda t:t*1.8+32,T)# T is iterator

In [35]:
list(F1)

[53.6, 93.2, 113.0, 152.60000000000002, 192.20000000000002]

#map()
#function: The function to apply to each item.
#iterable: One or more iterables (e.g., list, tuple

# map() #function: The function to apply to each item. #iterable: One or more iterables (e.g., list, tuple)

### filter is a built in function - filter(function,iterator)--filtered collection

### map() #function: The function to apply to each item. #iterable: One or more iterables (e.g., list, tuple)

In [37]:
p2=filter(checkprime,range(2,30))
list(p2)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
#zip is  a special function- generator-zip(<c1>,<c2>)

In [38]:
A=["RED","BLUE","WHITE"]
B=[1,2,3]
zip(A,B)

In [40]:
list(zip(A,B))  #merge or combine both lists in  single unit list with (),putput is list

[('RED', 1), ('BLUE', 2), ('WHITE', 3)]

In [42]:
type(zip(A,B))

zip

In [43]:
z=zip(A,B)

In [44]:
dict(z)  #convert list into dictionary

{'RED': 1, 'BLUE': 2, 'WHITE': 3}

# sort function with keys

In [45]:
L=[("apples",25),("cherries",5),("banana",30)]  #inside tuples in a list

In [47]:
L.sort()  #sort it acc to alphabet,by defualt it will sort based on first element in that list.

In [48]:
L

[('apples', 25), ('banana', 30), ('cherries', 5)]

In [ ]:
#key ->with respect to what should you sort, by defualt it is the first available element

In [49]:
L.sort(key=lambda e:e[1]) # SORT acc to values ascending order ,take first index[e 1] - 25, 30,5, accesss each elements by var e.

In [50]:
L

[('cherries', 5), ('apples', 25), ('banana', 30)]

In [2]:
L=[("apples",25),("cherries",5),("banana",30)] 
L.sort(key=lambda a:a[0][1])  # two alphabets checked,it sorted based on first two indexes-> two values 0 th 1 st abcd.what u should sort.

In [3]:
L

[('banana', 30), ('cherries', 5), ('apples', 25)]

#sorting key-what u should sort

In [13]:
L=[[1,7,3],[7,4,5,],[0,6,7]]
L.sort(key=lambda i:i[1])  #HERE WE CANNOT USE i[0][1] ---USED SORT.sort BASED ON 2ND ELEMENT IN EACH List[7][4][6]--based on this
L

[[7, 4, 5], [0, 6, 7], [1, 7, 3]]

In [14]:
L[1][1]

6

In [15]:
L[0][0]

7

In [28]:
def flattened(l):
    temp = []
    for x in l:
        if isinstance(x, list):
            for y in x:
                temp.append(y)
        else:
            temp.append(x)
    return temp

# Example usage
l = [1, 2, [3, 4]]
print(flattened(l))  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]