# Pandas Library

### 1. Basics

In [12]:
import pandas as pd

In [16]:
path = r"C:\Users\237237\Desktop\anacondacode\casestudies--001\student_report\students.csv"

In [17]:
df = pd.read_csv(path)

In [18]:
df

       name  age   regid  phy  chem  math  bio  avg  rank
0     Vijay   14  HPE001   99    98    97   96    0     0
1     Aryan   14  HPE002   98    91    93   96    0     0
2      Muni   14  HPE003   97    98    97   94    0     0
3      Abhi   14  HPE004   96    93    97   95    0     0
4   Hemanth   14  HPE005   94    91    93   96    0     0
5     Grace   14  HPE006   94    95    96   97    0     0
6    Ankita   14  CAP007   99    99    99   99    0     0
7      John   14  HPE008   96    93    97   95    0     0
8     Chris   14  HPE009   94    91    93   96    0     0
9     Grace   14  ORA006   94    95    96   97    0     0
10   Ankita   14  INF007   99    99    99   99    0     0

In [ ]:
.loc
Label-based: .loc is used to access a group of rows and columns by labels or a boolean array.
df.loc[row_label, column_label]
.iloc is used to access a group of rows and columns by integer positions (i.e., indices).
Exclusive: When slicing, the end index is excluded.
Syntax: df.iloc[row_index, column_index]

##### Working with Columns

In [19]:
df.columns

Index(['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank'], dtype='object')

In [20]:
df.shape  #how many  numberof rows and coloumns

(11, 9)

In [21]:
df.head() # gettable of defualt 5 of toplayer

      name  age   regid  phy  chem  math  bio  avg  rank
0    Vijay   14  HPE001   99    98    97   96    0     0
1    Aryan   14  HPE002   98    91    93   96    0     0
2     Muni   14  HPE003   97    98    97   94    0     0
3     Abhi   14  HPE004   96    93    97   95    0     0
4  Hemanth   14  HPE005   94    91    93   96    0     0

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df['name']

In [ ]:
df1 = df[['avg', 'name']]
df1

In [ ]:
df['total'] = df['phy'] + df['math'] + df['bio'] + df['chem']
df.head()

In [ ]:
df2 = df.drop('total', axis = 1)
df

In [ ]:
df.drop('total', axis = 1, inplace = True)
df

##### Working with Rows

In [ ]:
df.head()

In [ ]:
df.loc[2]

In [ ]:
df.loc[[4, 2, 1]]

In [ ]:
df3 = df.iloc[[3, 1, 3, 4, 7]]
df3

In [ ]:
df[(df['phy'] < 95) & (df['math'] < 95)]

### 2. Solving the Student Report Problem

In [ ]:
import pandas as pd
df = pd.read_csv(r"C:\Users\mindf\Desktop\step\day_05\case\students.csv")

In [ ]:
df['avg'] = df[['phy', 'chem', 'math', 'bio']].mean(axis = 1)
df.head()

In [ ]:
df['rank'] = df['avg'].rank(ascending = False, method = 'dense')
df

In [ ]:
df.to_json('student_report.json')