### 16.1 Defining a class in python

In [1]:
class student:

    # constructor and instance variable intialization
    def __init__(self, sname, sage, sgrade):
        self.name = sname
        self.age  = sage
        self.grade = sgrade
        self.marks = {}

    # class methods
    def set_marks(self, subj, marks):
        self.marks[subj] = marks

    def average(self):
        self.average = sum(self.marks.values())/len(self.marks.values())
        return self.average

    def print_report(self):
        print(f"\nSELF -> {self}")
        print("------------------------------------")
        print(f"NAME           | {self.name}")
        print(f"AGE            | {self.age}")
        print(f"GRADE          | {self.grade}")
        print("------------------------------------")
        for k, v in self.marks.items():
            print(str(k).rjust(10), "  |", str(v).ljust(5) )
        print("------------------------------------")
        print("AVERAGE        | ", self.average())

All functions you write in a class should have the first argument -> self
All instance variables should have the prefix self.
Whatever information is passed at the time of creation of object is picked up by the constructor if specified

In [2]:
s1 = student("Anil", 12, "7")
s2 = student("Sunil", 12, "7")

In [3]:
s1

In [4]:
s2

In [5]:
s1.set_marks("physics", 78)
s1.set_marks("chemistry", 88)

In [6]:
s2.set_marks("physics", 98)
s2.set_marks("chemistry", 68)

In [7]:
s1.print_report()

SELF -> <__main__.student object at 0x0000019E0B8E8F20>
------------------------------------
NAME           | Anil
AGE            | 12
GRADE          | 7
------------------------------------
   physics   | 78
 chemistry   | 88
------------------------------------
AVERAGE        |  83.0

In [44]:
s2.print_report()

SELF -> <__main__.student object at 0x000001F9983DA110>
------------------------------------
NAME           | Sunil
AGE            | 12
GRADE          | 7
------------------------------------
   physics   | 98
 chemistry   | 68
------------------------------------
AVERAGE        |  83.0

# 16.2 Exercise

In [ ]:
'''Create an employee class with the following features: name, age, company,
gross_salary, tax_rate, net_salary Implement methods to: print information, 
calculate net_salary based on tax rate, set the gross salary, set the tax rate'''

In [44]:
class Employee:
    def __init__(self, name, age, company):
        self.name = name
        self.age = age
        self.company = company
        self.gross_salary = 0
        self.tax_rate = 0
        self.net_salary = 0

    def calculate_net_salary(self):
        self.net_salary = self.gross_salary * (1 - self.tax_rate / 100)
        return self.net_salary

    def set_gross_salary(self, gross_salary):
        self.gross_salary = gross_salary
        self.calculate_net_salary()

    def set_tax_rate(self, tax_rate):
        self.tax_rate = tax_rate
        self.calculate_net_salary()

    def print_information(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Company: {self.company}")
        print(f"Gross Salary: {self.gross_salary}")
        print(f"Tax Rate: {self.tax_rate}")
        print(f"Net Salary: {self.net_salary}")

In [45]:
s1=Employee("Anil",36,"UST")

In [46]:
s1.set_gross_salary(10000)

In [49]:
s1.set_tax_rate(4)

In [50]:
s1.calculate_net_salary()

9600.0

In [51]:
s1. print_information()

Name: Anil
Age: 36
Company: UST
Gross Salary: 10000
Tax Rate: 4
Net Salary: 9600.0