In [1]:
''' You are designing a system to rank products based on their ratings (on a scale of 0 to 5). 
Two products are considered equal if their ratings are equal. A product with a lower rating 
is considered less than one with a higher rating.

Requirements:

Implement a class Product with the following:

    Attributes: name (str), rating (float)
    Define appropriate comparison methods to allow sorting and comparison based on rating.
    such as __le__, __gt__
    Use @total_ordering to minimize method definitions.

You are to:

        Implement the class with proper ordering using @total_ordering.
        Create a list of products and sort them.
        Demonstrate comparisons (==, <, >=, etc.) between different products.'''

' You are designing a system to rank products based on their ratings (on a scale of 0 to 5). \nTwo products are considered equal if their ratings are equal. A product with a lower rating \nis considered less than one with a higher rating.\n\nRequirements:\n\nImplement a class Product with the following:\n\n    Attributes: name (str), rating (float)\n    Define appropriate comparison methods to allow sorting and comparison based on rating.\n    such as __le__, __gt__\n    Use @total_ordering to minimize method definitions.\n\nYou are to:\n\n        Implement the class with proper ordering using @total_ordering.\n        Create a list of products and sort them.\n        Demonstrate comparisons (==, <, >=, etc.) between different products.'

In [2]:
from functools import total_ordering

@total_ordering
class Product:
    def __init__(self, name, rating):
        self.name=name
        self.rating=rating
    def __eq__(self, other):
        if not isinstance(other, Product):
            return NotImplemented
        return self.rating == other.rating
    def __le__(self, other):
        if not isinstance(other, Product):
            return NotImplemented
        return self.rating <= other.rating
    def __repr__(self):
        return f"{self.name}({self.rating})"

In [3]:
if __name__ == "__main__":
    p1 = Product("Laptop", 4)
    p2 = Product("Tablet", 3)
    p3 = Product("Phone", 4)
    p4 = Product("Monitor", 9)

    print("Sorted Products:", sorted([p1, p2, p3, p4]))
    print("p1 == p3:", p1 == p3)
    print("p1 <= p2:", p1 <= p2)
    print("p2 >= p4:", p2 >= p4)

Sorted Products: [Tablet(3), Laptop(4), Phone(4), Monitor(9)]
p1 == p3: True
p1 <= p2: False
p2 >= p4: False

In [4]:
from functools import total_ordering

@total_ordering
class Product:
    def __init__(self, name, rating):
        self.name = name
        self.rating = rating

    def __eq__(self, other):  #Equality check
        if not isinstance(other, Product):
            return NotImplemented
        return self.rating == other.rating

    def __le__(self, other): #less than or equal to 
        if not isinstance(other, Product):
            return NotImplemented
        return self.rating <= other.rating

    def __repr__(self):
        return f"{self.name}({self.rating})"

In [5]:
# === SAMPLE TEST CASE ===
if __name__ == "__main__":
    p1 = Product("Laptop", 4.5)
    p2 = Product("Tablet", 4.7)
    p3 = Product("Phone", 4.5)
    p4 = Product("Monitor", 4.2)

    print("Sorted Products:", sorted([p1, p2, p3, p4]))
    print("p1 == p3:", p1 == p3)
    print("p1 <= p2:", p1 <= p2)
    print("p2 >= p4:", p2 >= p4)

Sorted Products: [Monitor(4.2), Laptop(4.5), Phone(4.5), Tablet(4.7)]
p1 == p3: True
p1 <= p2: True
p2 >= p4: True

In [6]:
#self: Refers to the current instance of the class.
#other: Refers to the instance of the class that you are comparing self to.

In [7]:
from functools import total_ordering

@total_ordering
class Product:
    def __init__(self, name, rating):
        if not isinstance(rating,float):
            return ValueError("number must be float number")
        self.name = name
        self.rating = rating

    def __eq__(self, other):  #Equality check
        if not isinstance(other, Product):
            return NotImplemented
        return self.rating == other.rating

    def __le__(self, other): #less than or equal to 
        if not isinstance(other, Product):
            return NotImplemented
        return self.rating <= other.rating

    def __repr__(self):
        return f"{self.name}({self.rating})"

In [8]:
# === SAMPLE TEST CASE ===
if __name__ == "__main__":
    p1 = Product("Laptop", 4.2)
    p2 = Product("Tablet", 4.7)
    p3 = Product("Phone", 4.5)
    p4 = Product("Monitor", 4.2)

    print("Sorted Products:", sorted([p1, p2, p3, p4]))
    print("p1 == p3:", p1 == p3)
    print("p1 <= p2:", p1 <= p2)
    print("p2 >= p4:", p2 >= p4)

Sorted Products: [Laptop(4.2), Monitor(4.2), Phone(4.5), Tablet(4.7)]
p1 == p3: False
p1 <= p2: True
p2 >= p4: True

# Problem 1---Sqlite3

''' Problem Statement: 1
--------------------------------------

You are tasked with developing a simple student record management system using SQLite3 in Python. The system should perform the following operations:

Requirements:

Create a SQLite database named school.db with a table students having fields:

    id (INTEGER, Primary Key, Auto-increment)
    name (TEXT)
    age (INTEGER)
    grade (TEXT)

- Insert at least three student records into the table using parameterized queries.
- Fetch and print all student records.
- Update the grade of a specific student based on their name.
- Delete a student record based on the id.
- Display the remaining students and the total number of students.
- Finalize and close the connection

Deliverables:

- Python code with all the required database operations.
- Clear output showing the operations performed.
- Use of best practices: parameterized queries, commit(), and close().''''

In [34]:
import sqlite3

In [35]:
conn=sqlite3.connect('school1.db')  #this file create table format
#cursor is pointer execute ur commands
cursor=conn.cursor()

In [36]:
#create a student table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        grade TEXT)

''')

In [37]:
# Inserting more data rows
student_data = [
    ("Bob", 34, "First"),
    ("Charlie", 35,"Third"),
    ("David", 44,"Second"),
]

# executing multiple inserts
cursor.executemany('''
    INSERT INTO students (name, age, grade) VALUES (?, ?, ?)
''', student_data)

In [38]:
cursor.execute(''' 
    SELECT * FROM students
''')
cursor.fetchall()

[(1, 'Bob', 34, 'First'),
 (2, 'Charlie', 35, 'Third'),
 (3, 'David', 44, 'Second')]

In [39]:
# Update the grade of a specific student based on their name
# Update grade
cursor.execute("UPDATE students SET grade = ? WHERE name = ?", ("Fifth", "David"))

In [40]:
# Selecting the data from the table
cursor.execute('''
    SELECT * FROM students
''')
cursor.fetchall()

[(1, 'Bob', 34, 'First'),
 (2, 'Charlie', 35, 'Third'),
 (3, 'David', 44, 'Fifth')]

In [47]:
# Delete a student record based on the id
# Delete an employee by first id 
cursor.execute("DELETE FROM students WHERE id= ?", (1,))

In [48]:
cursor.execute('''
    SELECT * FROM students
''')
cursor.fetchall()

[(2, 'Charlie', 35, 'Third'), (3, 'David', 44, 'Fifth')]

In [54]:
# Count the number of employees
cursor.execute("SELECT COUNT(*) FROM students")
count = cursor.fetchone()[0] 
print(f"Total number of remaining students: {count}\n")

Total number of remaining students: 2

In [50]:
# Close the connection
conn.commit()

In [51]:
conn.close()

In [53]:
'''# Connect to the database-reopen school1
conn = sqlite3.connect('school1.db')
cursor = conn.cursor()'''

# Problem 2 -pickle

In [ ]:
# Problem Statement: 2
--------------------------------------

Tasks:

Create a Student class with the following attributes:

- name (string)
- roll_number (integer)
- marks (dictionary of subject-wise marks, e.g., {"Math": 85, "Science": 90})

Create a list of at least two Student objects with sample data.
Use the pickle module to serialize and save this list into a file named students.pkl.
Write code to load the student data from students.pkl and display each student’s details.

Challenge: Allow updating a student's marks and re-saving the modified list.

In [55]:
import pickle

In [78]:
class Student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks
    def __repr__(self):
        return f"Student(name={self.name}, roll_number={self.roll_number}, marks={self.marks})"

In [80]:
s1 = Student("Alice", 1, {"Math": 85, "Science": 90})
s2 = Student("Bob", 2, {"Math": 78, "Science": 88})

In [83]:
s1

Student(name=Alice, roll_number=1, marks={'Math': 85, 'Science': 90})

In [85]:
s2

Student(name=Bob, roll_number=2, marks={'Math': 78, 'Science': 88})

In [87]:
sessions=[s1,s2]

Use the pickle module to serialize and save this list into a file named students.pkl.

In [88]:
# Serialize the session list
with open("students.pkl", "wb") as f:
    pickle.dump(sessions, f)

In [ ]:
# re store and display each student's details

In [98]:
try:
    with open("students.pkl", "rb") as f:
        loaded_sessions = pickle.load(f)
        for session in loaded_sessions:
            print(session)
except Exception as e:
    print(f"Exception {e}")

Student(name=Alice, roll_number=1, marks={'Math': 85, 'Science': 90})
Student(name=Bob, roll_number=2, marks={'Math': 78, 'Science': 88})

In [ ]:
pickle.dump --write-wb -implemneted name.pkl file.
pickle.load --read-rb  - read and display each items in pkl file.

# Challenge: Allow updating a student's marks and re-saving the modified list.

In [100]:
# Example: Update Alice's Math marks to 95

loaded_sessions[0].marks["Math"] = 95

In [101]:
for session in loaded_sessions:
    print(session)

Student(name=Alice, roll_number=1, marks={'Math': 95, 'Science': 90})
Student(name=Bob, roll_number=2, marks={'Math': 78, 'Science': 88})

In [103]:
# resaving the modified list 
# Re-Serialize the session list
with open("students.pkl", "wb") as f:
    pickle.dump(sessions, f)