# SETS

In [1]:
s="mississippi"

In [2]:
list(s)  #convert string to list

['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [3]:
tuple(s)  #convert string to list

('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')

In [4]:
set(s)  #set remove the duplicates data , unordered, why?- the data structure background is different compared to list.

{'i', 'm', 'p', 's'}

#if we execute the string or data , it will rotate in background- so its outcome becomes unordered , this is used in design of sets.

### operations on sets

In [2]:
s1=set("abcdefg")
s2={'e','f','g','h','i'}

In [3]:
s1

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

s2

In [4]:
s1^s2  #union values s1-s2- never give duplicates

{'a', 'b', 'c', 'd', 'h', 'i'}

In [5]:
s1 & s2  #intersection common strings

{'e', 'f', 'g'}

In [11]:
s1| s2  #add multiple set, avoid duplicates

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}

In [13]:
s1.add('x')

In [14]:
s1

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'x'}

In [15]:
s1.remove('x')

In [16]:
s1

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [17]:
s1.update('y','z')

In [18]:
s1

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'y', 'z'}

In [19]:
s1.pop()

'd'

In [20]:
s1.intersection(s2)

{'e', 'f', 'g'}

In [21]:
s1.union(s2)

{'a', 'b', 'c', 'e', 'f', 'g', 'h', 'i', 'y', 'z'}

In [25]:
s1.issuperset(s2)

False

In [23]:
s1

{'a', 'b', 'c', 'e', 'f', 'g', 'y', 'z'}

In [26]:
s3={'a','b'}

In [28]:
s1.issuperset(s3)  #. It checks whether one set contains all elements of another set.

True

In [29]:
s1.issubset(s2)

False

### Dictionaries

In [33]:
rec=['anil',35,'UST','Banglore','100000']  #(name is anil)- key-name, value-'anil', (age is 35)-key is age, value is 35

In [42]:
d= {'name':'anil','age':35,'company':'UST','location':'Banglore','salary':'100000'} #specific key

In [40]:
d['name']

'anil'

In [43]:
d

{'name': 'anil',
 'age': 35,
 'company': 'UST',
 'location': 'Banglore',
 'salary': '100000'}

In [46]:
d['age']=78  #access the element, change value from key'age'

In [53]:
d

{'name': 'anil', 'company': 'UST', 'location': 'Banglore', 'salary': '100000'}

In [54]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [59]:
d1={'name':'anil','age':35}

In [61]:
d.update(d1)  #add new dictionary

In [72]:
d

{'name': 'anil',
 'company': 'UST',
 'location': 'Banglore',
 'salary': '100000',
 'add': 37,
 'age': 35}

# Important functions for dictionaries

In [58]:
d1.values()

dict_values([37])

In [63]:
d.keys()

dict_keys(['name', 'company', 'location', 'salary', 'add', 'age'])

In [64]:
d.items()

dict_items([('name', 'anil'), ('company', 'UST'), ('location', 'Banglore'), ('salary', '100000'), ('add', 37), ('age', 35)])

In [65]:
s={'a','b','c'}
dict(s)  #single set

ValueError: dictionary update sequence element #0 has length 1; 2 is required

#dict cannot convert into set.list or tuple

In [70]:
l=["red","yellow","blue"]
dict(enumerate(l))

{0: 'red', 1: 'yellow', 2: 'blue'}

In [71]:
n=['1','b','z']  #update key value wrt 2 lists and convert list to dictionary
dict(zip(n,l))

{'1': 'red', 'b': 'yellow', 'z': 'blue'}

### Examples

In [73]:
#calculate the character histogram of  astring   #A character histogram is a graphical representation that shows the frequency of each character in a given text. 
#Essentially, it counts how many times each character appears and displays this information, often in the form of a bar chart or a simple list.

In [75]:
s="mississippi"   
#(m:1,i:4,p:2,s:4)  this is outcome

ch={}
for c in s.lower():
    if c in ch.keys():    #keys exctact all keys in c
        ch[c]=ch[c]+1
    else:
        ch[c]=1
ch

#1->ch={'m':1}
#2->ch={'m':1,'i':1}
#3->ch={'m':1,'i':1,s:1}
#4->ch={m':1,'i':1,s:1+1}
#5->ch={m':1,'i':1+1,s:2}
#6->ch={m':1,'i':2,s:3}
#7->ch={m':1,'i':2,s:4}
#8->ch={m':1,'i':3,s:4}
#9->ch={m':1,'i':3,s:4,p:1}.....
#10->ch={m':1,'i':2,s:4,p:2}.....
#11->ch={m':1,'i':4,s:4,p:2}.....

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [85]:
a=['Anu','lakith',10,20]  #convert list into dictionary 
x=a[:2]
y=a[2:]
dict(zip(x,y))  #convert key to values, values to key

{'Anu': 10, 'lakith': 20}

In [80]:
d={}  #convert list into dictionary -another way
for i in range(len(x)):
    d[x[i]]=y[i]
d

{'Anu': 34, 'lakith': 56}

#reverse key an dvalues -key should be values , values should be keys

In [83]:
d= {'name':'anil','age':35,'company':'UST','location':'Banglore','salary':'100000'}  #d.items- key printed
d1={}
for key,values in d.items():
    d1[values]=key
d1

{'anil': 'name',
 35: 'age',
 'UST': 'company',
 'Banglore': 'location',
 '100000': 'salary'}

In [84]:
a = ['Mahesh', 'Lakith', 25, 26]
j=0
for i in a:
    if isinstance(i, str):
        j=j+1

x=a[:j:]
y=a[j::]
dict(zip(x,y))

{'Mahesh': 25, 'Lakith': 26}

In [11]:
D1 = {'name':'paru','age':24}
for key,value in D1.items():
    print(key)

name
age

In [12]:
D1 = {'name':'paru','age':24}
for key,value in D1.items():
    print(value)

paru
24