In [8]:
#check a pattern in string-used re.match()
import re
string='misssipp'
re.match(r'ss',string)

In [ ]:
# inorder to search
search(pattern,string,flags=0)

In [ ]:
#re.findall()
re.findall()  ->findall(pattern,string[,flags])  #check all occurence of pattern in string, find index of that particular pattern
#[strat index to end index]

In [9]:
import re

In [10]:
t=r'\d+\.?\d*'  #Regular exp for identifying floating point numbers--  \d means start number  , \d ->end number  ,\.?-floating point number, d* means more numbers after decimal

In [13]:
re.match(t,"12")  #match first character or word in a string

In [14]:
text= "12 Temperatures in TRV 32.5 and in BLR 32.0 degrees"

In [15]:
re.match(t,text)

In [16]:
re.search(t,text)  #search all words in that string

In [18]:
text[22:25]

' 32'

In [19]:
re.findall(t,text)  #find all integers, float numbers

['12', '32.5', '32.0']

In [20]:
re.finditer(t,text)

In [21]:
for m in re.finditer(t,text):
    print(m.group(),' ->', m.span())  #group->print values in string , span->print index of that values

12  -> (0, 2)
32.5  -> (23, 27)
32.0  -> (39, 43)

# Substitution

In [24]:
re.sub(t, '<floating point number>',text)  #check whether that string contains floatin and replace those values into floating point number

'<floating point number> Temperatures in TRV <floating point number> and in BLR <floating point number> degrees'

In [25]:
re.subn(t, '<floating point number>',text)

('<floating point number> Temperatures in TRV <floating point number> and in BLR <floating point number> degrees',
 3)

In [26]:
re.split(t,text)

['', ' Temperatures in TRV ', ' and in BLR ', ' degrees']

# Groups

In [28]:
text= "This line  ahs a 3.14567 floating point number "

In [48]:
t=r'(\d+\.?\d*)'

In [49]:
m=re.search(t,text)

In [50]:
m

In [51]:
m.group()

'3.14567'

In [52]:
m.span()  #index number where that 3.14 567 mentioned

(17, 24)

In [53]:
m.group()

'3.14567'

In [54]:
m.groups()

('3.14567',)

In [56]:
m.groupdict()

{}

In [1]:
def check_weird(n):
    if n % 2 != 0:
        print("Weird")
    elif n % 2 == 0 and 2 <= n <= 5:
        print("Not Weird")
    elif n % 2 == 0 and 6 <= n <= 20:
        print("Weird")
    elif n % 2 == 0 and n > 20:
        print("Not Weird")

# Input
n = int(input("Enter a positive integer: "))
check_weird(n)

Enter a positive integer:  6

Weird

In [ ]:
GROUP:group () , groups() and groupddict()
1. group() -Returns the string matched by the regex.
2. groups() - Returns a tuple containing all the subgroups of the match.
3. groupdict()- Returns a dictionary containing all the named subgroups of the match.