# 10.1 Function definition

In [24]:
def checkprime(n):
    prime = True 
    for i in range(2,n):
        if n%i==0:  #if  this condition passed return False, not a prime number
            return False
    return True  #if for loop completes return true.else statement

In [25]:
checkprime(10)

False

In [26]:
checkprime(15)

False

In [27]:
checkprime(7)

True

In [28]:
#function to get the highest prime number in a given range
def get_highestprime(p,q):
    for n in range(q,p-1,-1):  #descending order check, then find greatest prime value
        if (checkprime(n)):
            return n
    return -1

In [29]:
get_highestprime(1,20)

19

In [30]:
get_highestprime(1,100)

97

In [31]:
get_highestprime(50,55)

53

In [32]:
get_highestprime(200,204)

-1

# 10.2 scope of variable

In [35]:
# Global variables
N=10

def showvalues():  #access global var
    print(N)

In [36]:
showvalues()

10

In [38]:
# Global variables and  local vaiables
N=10

def showvalues():  #access local var, local will get the highest priority
    N=5 #local
    print(N)

In [39]:
showvalues()

5

In [41]:
# Global variables and  local vaiables
N=10 #global

def showvalues():  # local will get the highest priority, within this function definition
    N=5 #local
    print(N)
def showvalues2():  #local will get the highest priority
    N=7 #local
    print(N)

In [42]:
showvalues(), showvalues2()

5
7

(None, None)

In [43]:
# Global variables and local vaiables
N=10

def showvalues():  # local will get the highest priority, within this function definition
    N=5 #local
    print(N)
def showvalues2():  #local will get the highest priority, but if local is not there global will print.
      print(N)

In [44]:
showvalues(), showvalues2()

5
10

(None, None)

In [45]:
# Global variables and local vaiables

def showvalues():  # local will get the highest priority, within this function definition
    M=5 #local
    print(M)
def showvalues2():  #M is not defined in this function, M is local in first function def.
      print(M)

In [46]:
showvalues(), showvalues2()

5

NameError: name 'M' is not defined

In [53]:
# understanding non-local scope
P=10

def getFunction(choice):
    def funcAdd(a,b):
        return (a+b) * P
    def funcSub(a,b):
        return (a-b)*P
    return funcAdd if choice ==1 else funcSub#ternary operator -> ?: statement

In [54]:
f= getFunction(1)  #uses funAdd and P=10
f(10,20)#a,b

300

In [60]:
# understanding non-local scope
P=10

def getFunction(choice):
    def funcAdd(a,b):
        P=5
        return (a+b) * P
    def funcSub(a,b):
        P=5
        return (a-b)*P
    return funcAdd if choice ==1 else funcSub#ternary operator -> ?: statement

In [61]:
f= getFunction(1)  #uses funAdd and P=5 local var will access here,local ti funcAdd
f(10,20)#a,b

150

In [ ]:
# understanding non-local scope
P=10  # global

def getFunction(choice):
    P=2 #local to getFunction ->this is called non local variable
    def funcAdd(a,b):
        P=5
        return (a+b) * P
    def funcSub(a,b):
        P=5
        return (a-b)*P
    return funcAdd if choice ==1 else funcSub#ternary operator -> ?: statement

In [62]:
f= getFunction(1)  #uses funAdd and P=5 local var will access here,local to funcAdd
f(10,20)#a,b

150

In [64]:
# understanding non-local scope
P=10  # global

def getFunction(choice):
    P=2 #local to getFunction ->this is called non local variable
    def funcAdd(a,b):#remove local var P=5
        return (a+b) * P
    def funcSub(a,b):
        P=5
        return (a-b)*P
    return funcAdd if choice ==1 else funcSub#ternary operator -> ?: statement

In [65]:
f= getFunction(1)  #uses funAdd and P=2 Non local var will access here  ..non-local to funcAdd.
f(10,20)#a,b

60

In [69]:
# understanding non-local scope
P=10  # global

def getFunction(choice):
    P=2  #non local variable
    def funcAdd(a,b):#remove local var P=5
        global P  #access P=10 ->outside func Var ->called global P.
        return (a+b) * P
    def funcSub(a,b):
        nonlocal P   #access P=2 ->inside the getFunction var ->called non local var
        return (a-b)*P
    return funcAdd if choice ==1 else funcSub#ternary operator -> ?: statement

In [70]:
f= getFunction(1)  #uses funAdd and P=10 global to funAdd.
f(10,20)   #a,b

300

#guidline: Reduce the global variables

# 10.3 Required Arguments

In [76]:
# fucntion definition
def avg(n1,n2,n3):
    return (n1+n2+n3)/3

In [77]:
#funcyioon call
avg(1,2)

TypeError: avg() missing 1 required positional argument: 'n3'

#During the function call match the number of arguments to the number of arguments in function definition

In [78]:
def msg(n1,n2,n3):
    print(n1)
    print(n2)
    print(n3)

In [79]:
msg("Anil","Haseena","Sunil")

Anil
Haseena
Sunil

In [81]:
msg("Anil","Sunil","Haseena")  #order can changeable

Anil
Sunil
Haseena

#during the function call the order should maintained exactly as in the function definition.

# 10.4 Arbitrary Arguments

any number/diffrenet numbers we can able to pass it-using *. is called arbitray arguments

#you cannot write avg () for different number of arguments, can a single avg() handle arbitrary(* var) number of arguments

In [82]:
def avg(*n):  #unzipping the var * means.-so the whole bench of arguments has tuple 
    print(n)
    return sum(n)/len(n)

In [83]:
avg(1)

(1,)

1.0

In [ ]:
#in the form of tuple-outcome

In [84]:
avg(1,2)

(1, 2)

1.5

In [85]:
avg(1,2,3,4)

(1, 2, 3, 4)

2.5

In [86]:
p=[34, 56, 67, 43]

In [91]:
p.sort()

In [92]:
p

[34, 43, 56, 67]

In [93]:
p[-2]

56

# Assignment

In [ ]:
''' Write a function to return the time required to double the invested amount and given rate of 
   interest'''

In [118]:
def  timeRequired(interest):
    return 72/interest

r=float(input("Enter the rate of interest:"))
print("Time required:",timeRequired(r))

Enter the rate of interest: 6

Time required: 12.0

In [128]:
def getTime2Double(principal,rate): #interest should be equal to principal
    amount=principal
    years=0
    while amount<principal *2:
        interestAmount =amount *(rate/100)
        amount=amount+interestAmount
        years+=1
    return years
getTime2Double(100000,6.5)

12

In [ ]:
''' Write a function to find the second largest number in the list
   Example: Input <- [34, 56, 67, 43]
            Outupt -> 56'''

In [141]:
def find_second_largest(n):
    unique_numbers = list(set(n))
    unique_numbers.sort()
    return unique_numbers[-2]

list1 = [34, 56, 67, 43]
output = find_second_largest(list1)
print("The second largest number is:", output)

The second largest number is: 56

In [ ]:
'''Write a function to print character pyramid
   Example: genPyramic(3, '*')
                 *
                ***
               *****   '''

In [142]:
def pyramid(n):
    for i in range(1, n + 1):
        for j in range(n - i):
            print(" ", end="")
        for x in range(1, 2*i):
            print("*", end="")
        print()
pyramid(3)

  *
 ***
*****

In [113]:
#solution 1
def genPyramid(n, char):
    for i in range(n):
        for j in range(n - i - 1):
            print(' ', end='')
        for k in range(2 * i + 1):
            print(char, end='')
        print()

genPyramid(3, '*')

  *
 ***
*****

In [111]:
for i in range(3):
    print(i)

0
1
2

In [ ]:
''' '''Write a function to print character pyramid
   Example: genPyramic(3, '*')
                 *
                ***
               *****   '''

In [143]:
def genPyramid(n, char):
    for i in range(n):  # i=0,1,2 The variable i will take values from 0 to n-1, representing the current row number
        for j in range(n - i - 1):  #j=2,1,0 This nested loop prints the leading spaces for each row. The number of spaces decreases as i increases. n - i - 1 calculates the number of spaces needed for the current row. print(' ', end='')
            print(' ', end='')
        for k in range(2 * i + 1):  #i=0 ->k=1,i=1 ->k=3, i=2->k=5
            print(char, end='')
        print()

genPyramid(3, '*')

  *
 ***
*****

In [144]:
def genPyramid(n, char):
    for i in range(n):
        print(" " * (n - i - 1) + char * (2 * i + 1))
 
genPyramid(3, '*')

  *
 ***
*****

# Reference

In [145]:
def change(L):
    L=list('python')
    return L

In [126]:
s=list('perl')
s

['p', 'e', 'r', 'l']

In [146]:
change(s)  #global l, reference go to that value

['p', 'y', 't', 'h', 'o', 'n']

In [133]:
def change(L):
    return list(L)

In [134]:
change('perl')

['p', 'e', 'r', 'l']

In [ ]:
#The reference of the variable is passed into the function as the argument, not the value

In [149]:
def change(l):  #reference of s is coming here.'perl'
    l.append(list('python'))
    return l

In [150]:
s=list('perl')
s

['p', 'e', 'r', 'l']

In [151]:
change(s)   #python- if we append a sublist in to  a list-> overriding the sublist into that list.

['p', 'e', 'r', 'l', ['p', 'y', 't', 'h', 'o', 'n']]

In [147]:
#reassigning a new var to list()

In [152]:
def swaptwo(a,b):
    temp=a
    a=b
    b=temp
    return a,b

In [153]:
swaptwo(10,20)

(20, 10)

In [162]:
def swaptwo(a,b):  
    print("In function",a,b)
    temp=a
    a=b
    b=temp
    print("In function",a,b)
    return #automatically it will execute and swapped.

In [160]:
a=10
b=20
swaptwo(a,b)

In function 10 20
In function 20 10

In [163]:
def swaptwo(a,b): 
    temp=a
    a=b
    b=temp
    return

In [170]:
d=swaptwo(10,20)  #we cannot get outcome no return. inside function only we need to return those values ,then we can get or see the result in putput.
d

# Default arguments

In [166]:
def printinfo(name,age):
    print(f"the name is{name} and age is {age}")

In [177]:
printinfo(" Anil",43)

the name is Anil and age is 43

In [176]:
printinfo(" Anil")

the name is Anil and age is 0

In [173]:
def printinfo(name,age=0):
    print(f"the name is{name} and age is {age}")

In [175]:
printinfo(" Anil")

the name is Anil and age is 0

# KEYWORD ARGUMENTS

In [180]:
printinfo(34," Anil")  #wrongly print it .

the name is34 and age is  Anil

In [179]:
printinfo(age= 34,name= " Anil")  #provide correct key value to argument name.

the name is Anil and age is 34

# The above will work even when there is a change in the order of the arguments.

In [ ]:
GUIDELINE:Always use key-word arguments while calling a function

# Variable length arguments

In [188]:
def fun(a,b,c,*targs,**kargs):
    print(a,b,c) # required arguments, regular arguments
    print(targs)  #single * -> tuple arguments( ,, )
    print(kargs)  #keyword arguments ->key value pair in { ,}.

In [186]:
fun(10,20,30,40,50,name='Anil',age=34)

10 20 30
(40, 50)
{'name': 'Anil', 'age': 34}

In [187]:
fun(10,20,30)

10 20 30
()
{}

In [ ]:
# not specify how many argumemnts going to pass.

In [ ]:
#the order in which you write the arguments should be required , targs and then kargs
#first only we can print 1)regular, 2)targs, then 3) kargs.... into a fucntion definition and call.

In [189]:
def fun(a,b,c=5,*targs,**kargs):
    print(a,b,c) # required arguments, regular arguments
    print(targs)  #single * -> tuple arguments( ,, )
    print(kargs)  #keyword arguments ->key value pair in { ,}.

In [190]:
fun(10,20,30,40,50,name='Anil',age=34)

10 20 30
(40, 50)
{'name': 'Anil', 'age': 34}

# Nested functions

In [195]:
# understanding non-local scope
P=10  # global

def getFunction(choice):
    P=2  #non local variable
    def funcAdd(a,b):#remove local var P=5
        global P  #access P=10 ->outside func Var ->called global P.
        return (a+b) * P
    def funcSub(a,b):
        nonlocal P   #access P=2 ->inside the getFunction var ->called non local var
        return (a-b)*P
    return funcAdd if choice ==1 else funcSub#ternary operator -> ?: statement

In [198]:
f= getFunction(1)  #uses funAdd and P=10 global to funAdd.
f(10,20)

300

In [ ]:
# Returning multiple values from the argu

In [ ]:
''' Create a function authenticator(username, password) that returns another function, 
   which can be called to access a secure message only if the username and password match'''

In [269]:
def authenticator(username,password):
    correct_name='Admin'
    correct_password ='secure123'
    def secure_access_message():
        if (username==correct_name) and (password==correct_password):
            return "Access granted, welcome to Secured systemm \U00002705"
        else:
            return "Access Denied \U0000274E"

    return secure_access_message

In [270]:
m=authenticator('Anil','1234')

In [271]:
m()

'Access Denied ‚ùé'

# Assignment

In [ ]:
''' Write a functions that returns the jumbled version of the words with spaces and capital letters
   Example: Input <- jumble("apples")
            Output -> P P L A E S '''

In [205]:
import random
def jumble(word):
    word = word.upper()
    char_list = list(word)
    random.shuffle(char_list)
    
    jumbled = ' '.join(char_list)
    
    return jumbled
    
print(jumble("apples"))

S A L E P P

In [ ]:
''' Write a function to determine if a number is a fibonacci number
   Example: Input <- 8
            OUtput -> 8 is in the fibonacci range'''

In [213]:
def fibonacci(num):
    def is_perfectsq(x):
        s=int(x**0.5)
        return s*s==x
    if is_perfectsq(5*num*num+ 4) or is_perfectsq(5*num*num - 4):
            return f"{num} is in the Fibonacci series"
    else:
            return f"{num} is not in the Fibonacci series"
print(fibonacci(8))

8 is in the Fibonacci series

In [212]:
def fibonacci(n):
    a, b = 0, 1
    while b < n:
        a, b = b, a + b

    if b == n or n == 0:
        return f"{n} is in the Fibonacci series"
    else:
        return f"{n} is not in the Fibonacci series"

print(fibonacci(8))

8 is in the Fibonacci series

In [ ]:
''' Write a python function to merge two dictionaries
   Example: d1 = { 'a': 20, 'b': 30 }
            d2 = { 'b': 40, 'c': 50 }
            Output -> { 'a' : 20, 'b':70, 'c' : 50 }
    Merge rules: Numbers -> add
                 Strings -> concatenate'''

In [221]:
def merge_dicts(d1, d2):
    merged_dict = {}
    
    # Get all unique keys from both dictionaries
    all_keys = set(d1.keys()).union(set(d2.keys()))
    for key in all_keys:
        if key in d1 and key in d2:
            # If the key exists in both dictionaries, merge according to the rules
            if isinstance(d1[key], int) and isinstance(d2[key], int):
                merged_dict[key] = d1[key] + d2[key]
            elif isinstance(d1[key], str) and isinstance(d2[key], str):
                merged_dict[key] = d1[key] + d2[key]
            else:
                # If the values are of different types, raise an error
                raise ValueError(f"Cannot merge values of different types for key '{key}'")
        elif key in d1:
            # If the key exists only in d1
            merged_dict[key] = d1[key]
        elif key in d2:
            # If the key exists only in d2
            merged_dict[key] = d2[key]
    
    return merged_dict
    
d1 = { 'a': 20, 'b': 30 }
d2 = { 'b': 40, 'c': 50 }
print(merge_dicts(d1, d2))

{'c': 50, 'b': 70, 'a': 20}

In [216]:
def merge_dicts(d1, d2):
    merged_dict = {}
    
    # Get all unique keys from both dictionaries
    all_keys = set(d1.keys()).union(set(d2.keys()))
    return all_keys
    
d1 = { 'a': 20, 'b': 30 }
d2 = { 'b': 40, 'c': 50 }
print(merge_dicts(d1, d2))

{'c', 'b', 'a'}

In [222]:
def merge(dict1, dict2):
    d = dict1.copy()  # Make a copy of dict1 to avoid modifying it
    for k, v in dict2.items():
        if k in d:  # If key already exists in dict1
            if isinstance(d[k], (int, float)) and isinstance(v, (int, float)):  # Add numbers
                d[k] += v
            elif isinstance(d[k], str) and isinstance(v, str):  # Concatenate strings
                d[k] += v
            else:  
                d[k] = [d[k], v]  # Store as a list if types don't match
        else:
            d[k] = v  # Add new key-value pair
    return d
 
# Example Usage
d1 = {'a': 20, 'b': 30, 'c': "Hello"}
d2 = {'b': 40, 'c': " World", 'd': 50}
 
print(merge(d1, d2))

{'a': 20, 'b': 70, 'c': 'Hello World', 'd': 50}

In [223]:
def merge_dicts(d1, d2):
    merged_dict = {}
    
    for key in set(d1.keys()).union(d2.keys()):
        if key in d1 and key in d2:
            if isinstance(d1[key], int) and isinstance(d2[key], int):
                merged_dict[key] = d1[key] + d2[key]
            elif isinstance(d1[key], str) and isinstance(d2[key], str):
                merged_dict[key] = d1[key] + d2[key]
            else:
                raise ValueError(f"Cannot merge values of different types for key '{key}'")
        else:
            merged_dict[key] = d1.get(key, d2.get(key))
    
    return merged_dict
d1 = { 'a': 20, 'b': 30 }
d2 = { 'b': 40, 'c': 50 }
print(merge_dicts(d1, d2))

{'c': 50, 'b': 70, 'a': 20}

In [228]:
def merged_dict(d1,d2):
    return {k: (d1.get(k, 0) + d2.get(k, 0) if isinstance(d1.get(k), int) else str(d1.get(k, '') + d2.get(k, '')))
            for k in set(d1) | set(d2)}
 
d1 = { 'a': 10, 'b': 30, 'd':'hello' }
d2 = { 'b': 40, 'c': 50,'a':50,'d':' python' }
 
print(merge_dicts(d1, d2))

{'c': 50, 'd': 'hello python', 'b': 70, 'a': 60}

In [ ]:
''' set(d1.keys()): This creates a set of all the keys in dictionary d1.
set(d2.keys()): This creates a set of all the keys in dictionary d2.
.union(set(d2.keys())): This combines the two sets of keys from d1 and d2 into a single set containing all unique keys from both dictionaries.'''

In [235]:
def mergedict(d1,d2):
    for key,value in d1.items():
        for key2,value2 in d2.items():
            if key2 == key:
                if (type(value2) == str):
                    value = value + value2
                elif (type(value2) == int):
                    value = int(value) + int(value2)
        else:
            d1.update({key: value})

In [233]:
d1 = { 'a': 10, 'b': 30, 'd':'hello' }
d2 = { 'b': 40, 'c': 50,'a':50,'d':' python' }
print(mergedict(d1,d2))

AttributeError: 'int' object has no attribute 'update'

# Returning multiple values from the function

In [ ]:
'''  Write a function that takes a mix of numbers and categorizes them into positives, negatives, and zeros. 
   It should return the count of each category and their respective sums.'''

In [ ]:
L=[1,2,0,-1,-2]

In [ ]:
{"positive":(2 positive values in the list ,its sum=3), "negative": (2 values, -3), zeros:(1,0)}

In [237]:
N=[1,2]

In [238]:
[n for n in N if n>0]

[1, 2]

In [251]:
def getCat(t):
    positives =[n for n in N if n>0]
    negatives= [n for n in N if n<0]
    zeros= [n for n in N if n==0]
    return {"positives": (len(positives),sum(positives)), "negatives":(len(negatives),sum(negatives)),"zeros":(len(zeros),sum(zeros))
           }

In [253]:
L= list(range(-10,30))
getCat(L)

{'positives': (2, 3), 'negatives': (0, 0), 'zeros': (0, 0)}

# 10.5 Recursive function

In [274]:
def rec(n):   #must have a if function  and return 
    if n==0:
        return
    else:
        print(n)
        rec(n-1)  #call the function itself

n=5
print(rec(n))

5
4
3
2
1
None

In [275]:
#another
def rec2(L):
    if L==[]:
        return
    else:
        t=L.pop()
        print(t)
        rec2(L)

In [277]:
rec2(["Red","green","blue"])  #LIFO-- pop is used reverse it.

blue
green
Red

In [284]:
# String reversal using recursion
def revString(s):
    if len(s)==0:
        return s
    else:
        print(f"{s[-1]},{s[:-1]}")
        return s[-1]+revString(s[:-1])  #-1index  + 0 to last char[0:-1] call itself

In [285]:
s="Python"
revString(s)

n,Pytho
o,Pyth
h,Pyt
t,Py
y,P
P,

'nohtyP'

In [ ]:
#expanse and evaluate -used recursion

In [288]:
#join all string in a list using recursion
L=["mary","had","a","little","lamb"]

In [297]:
def recJoint(L):
    if len(L)==1:
        return L[0]
    else:
        return str(L[0]+" "+ recJoint(L[1:])) #from index 1 to end of string printed.

In [298]:
t= recJoint(L)
t

'mary had a little lamb'

In [305]:
#flattening a list 
def flattenlist(nestedlist):
    flatlist=[]
    for item in nestedlist:
        if isinstance(item,list):
            flatlist.extend(flattenlist(item))
        else:
            flatlist.append(item)
    return flatlist

In [309]:
nestedlist=[1,[2,3,4],[4,5,6],[6,7],8,[10,11,[13,90],9]]

In [310]:
flattenlist(nestedlist)

[1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 10, 11, 13, 90, 9]

In [ ]:
#Write a recursive function to compute the nth Fibonacci number

In [2]:
def fibonacci(n):
    if n <= 0:
        return "Input should be a positive integer."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n = int(input("Enter a n th number:"))
print(f"The {n}th Fibonacci number is: {fibonacci(n)}")

Enter a n th number: 5

The 5th Fibonacci number is: 3

In [ ]:
#Write a recursive function to compute the factorial of a number.

In [4]:
def factorial(n):
    if n < 0:
        return "Input should be a non-negative integer."
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

n = int(input("Enter an integer"))
print(f"The factorial of {n} is: {factorial(n)}")

Enter an integer 5

The factorial of 5 is: 120

In [ ]:
''' Write a function that takes any number of lists and returns a list of elements that are common to all.

    # Example usage:
    list1 = [1, 2, 3, 4, 5]
    list2 = [2, 3, 5, 7, 9]
    list3 = [1, 2, 5, 8, 10]

    print(find_common(list1, list2, list3))'''

In [15]:
def find_common(*lists):
    if not lists:
        return []
    
    # Start with the first list's elements as the initial common set
    common_elements = set(lists[0])
    
    # Intersect with each subsequent list
    for lst in lists[1:]:
        common_elements =common_elements& set(lst)
    
    return list(common_elements)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 5, 7, 9]
list3 = [1, 2, 5, 8, 10]

print(find_common(list1, list2, list3))

[2, 5]

In [1]:
L=[2,3,4,5,6,7,8]
L1=[2, 3, 5, 7, 9]
list(set(L).intersection(set(L1)))

[2, 3, 5, 7]

In [ ]:
'''  Generate all the subsets of a given set - explore and explain
    Input: generate_subsets([1, 2, 3])
    Output: []
            [3]
            [2]
            [2, 3]
            [1]
            [1, 3]
            [1, 2]
            [1, 2, 3] '''

In [ ]:
def subset(*set)

In [29]:
'''Create a function to get the span of substrings
 input s="Mississippi"
 r='ss'
 output->(2,[(2,4),(5,7)])
 s[2:4] ->'ss'
 s[[5:7] -> 'ss' '''

'Create a function to get the span of substrings\n input s="Mississippi"\n r=\'ss\'\n output->(2,[(2,4),(5,7)])\n s[2:4] ->\'ss\'\n s[[5:7] -> \'ss\' '

In [8]:
def getspan(s, r):
    count = 0
    spans = []
    start = 0
    while True:
        start = s.find(r, start)
        if start == -1:
            break
        end = start + len(r)
        spans.append((start, end))
        count += 1
        start += 1  # Move to the next character to find subsequent occurrences
    return count, spans

# Input
s = 'mississippi'
r = 'ss'

# Output
count, spans = getspan(s, r)
print(f"Number of occurrences of '{r}' in '{s}': {count}")
print(f"Spans of '{r}' in '{s}': {spans}")
print(f"({count},{spans})")

Number of occurrences of 'ss' in 'mississippi': 2
Spans of 'ss' in 'mississippi': [(2, 4), (5, 7)]
(2,[(2, 4), (5, 7)])