# 17.1 Inheritance

In [ ]:
Inheritance class derives the data and behavior from the parent class.

In [7]:
class employee:
    #class variable
    nEmployees=0  #class var---it is visible to all the object creating a particular class.without self.  calledas class car
    #Attributes
    def __init__(self,name,age,company,salary):
          #instance var is self.name,self.age,self.company.....etc..
        self.name=name
        self.age=age
        self.company=company
        self.salary=salary  #100000 INR
        self.taxrate=0
        self.bonus=0
        self.net_salary=''
        employee.nEmployees+=1 #when u call __init__ method , nEmployees will increment by one
    #methods
    def set_taxrate(self,tr):  #SELF-NEED TO CALL INSTANCE OF VAR
        self.taxrate=tr
        self.update_net_salary()
        return
    def set_bonus(self,bonus_per):
        try:
            self.bonus=bonus_per
            temp=float(self.salary.split()[0])
            temp=temp-(temp*self.bonus/100)
            print(temp)
            self.net_salary=''.join([str(temp),'INR'])
            return
        except:
            print("Incompatible input") 

    def update_net_salary(self):
        try:
            temp=float(self.salary.split()[0])
            temp=temp-(temp*self.taxrate/100)
            print(temp)
            self.net_salary=' '.join([str(temp),'INR'])
            return
        except:
            print("Incompatible input")
    def print(self):
        print("\n")
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-"*80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, ' pct')
        print("-"*80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

# Syntax for Inheritance

In [8]:
class newEmployee(employee): #newEmployee is inherited from employee
    pass

In [9]:
e = newEmployee("Anil", 35, "UST Global", "1500000 INR")

In [13]:
e.set_taxrate(30)
e.print()

1050000.0


NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  30
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =  1050000.0 INR

In [16]:
class employee:

    # class variable
    nEmployees = 0

    # attributes
    def __init__(self, name='', age=0, company='', salary=''):
        self.name = name
        self.age  = age
        self.company = company
        self.salary = salary  # 1000000 INR
        self.taxrate = 0
        self.bonus = 0
        self.net_salary = self.salary 
        employee.nEmployees += 1

    # methods

    def set_taxrate(self, tr):
        self.taxrate = tr
        self.update_net_salary()
        return
    def set_bonus(self, bonus_pct):
        try:
            self.bonus = bonus_pct
            temp = float(self.net_salary.split()[0])
            temp = temp + (temp * self.bonus/100)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible operation")

    def update_net_salary(self):
        try:
            temp = float(self.salary.split()[0])
            temp = temp - (temp * self.taxrate/100)
            print(temp)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible input")
    def print(self):
        print("\n")
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-"*80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, ' pct')
        print("-"*80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

In [18]:
class newEmployee(employee):# newEmployee is inherited from employee
    pass

In [19]:
e = newEmployee("Anil", 35, "UST Global", "1500000 INR")
e.set_taxrate(10)
e.set_bonus(10)
e.print()

1350000.0


NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1485000.0 INR

# ADDING NEW ATRRIBUTES AND BEAHVIOR

In [20]:
import re

class extEmployee(employee):

    def __init__(self, name, age, company, salary, marital_status):
        # New attributes
        self.phone = "+910000000000"
        self.address = ""
        self.workmode = "Office"
        self.maritalstatus = marital_status
        # Attributes initialized in parent class
        super().__init__(name, age, company, salary)

    # New functions
    def update_maritalstatus(self, status):
        if(status in ["married", "unmarried", "single"]):
            self.maritalstatus = status
        return

    def update_phone(self, phone):
        if re.match(r"\+91\d{10}", phone):
            self.phone = phone
        return

    def update_address(self, addr):
        self.addr = addr

    def update_workmode(self, mode):
        if mode in ["home", "office", "hybrid"]:
            self.workmode = mode

In [21]:
e = extEmployee("Sunil", 35, "UST Global", "1500000 INR", "married")
# Calling functions from parent side
e.set_taxrate(10)
e.set_bonus(10)
# Calling functions from the child
e.update_phone("+918876534545")
e.update_address("Jayanagar, Bengaluru - 560040")
# Print from parent class - why?
e.print()

1350000.0


NAME                  ->  Sunil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1485000.0 INR