# The Sqlite3 Module- Built in module

In [ ]:
simulate a student data base with:
-Table creation
-Insert
-Select
-Update
-Delete
Parameterized

In [ ]:
# The sqlite3 Module
We'll perform the following operations for employee data:

Create database and table
Insert multiple employee records
Fetch all employees
Fetch by condition (e.g., salary > X)
Update employee data
Delete an employee
Count records
Use parameterized queries for security
Commit and close

In [ ]:
Structured Query Language is a standard Database language that is used to create, maintain,
and retrieve the relational database.

In [1]:
import sqlite3

In [2]:
#connect to the database--all the database into a file
#use--Connection object-->connect /conn
conn=sqlite3.connect('employee.db')  #this file create table format
#cursor is pointer execute ur commands
cursor=conn.cursor()

In [5]:
#create an emplyee table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        department TEXT NOT NULL,
        salary  REAL NOT NULL,
        join_date TEXT)

''')

In [15]:
#UPDATE THE ATTRIBUTES
cursor.execute('''
    INSERT INTO employees (name, department, salary, join_date)  VALUES ("alice","HR",6000,"2023-01-17")
''')

In [9]:
# selecting the data from table, *- all attributes in employees
cursor.execute(''' 
    SELECT * FROM employees
''')
cursor.fetchall()

[(1, 'alice', 'HR', 6000.0, '2023-01-17')]

In [16]:
# Inserting more data rows
employee_data = [
    ("Bob", "Engineering", 85000, "2022-09-10"),
    ("Charlie", "Marketing", 55000, "2024-03-01"),
    ("David", "Engineering", 90000, "2021-11-20"),
]

# executing multiple inserts
cursor.executemany('''
    INSERT INTO employees (name, department, salary, join_date) VALUES (?, ?, ?, ?)
''', employee_data)

In [17]:
# Selecting the data from the table
cursor.execute('''
    SELECT * FROM employees
''')
cursor.fetchall()

[(1, 'alice', 'HR', 6000.0, '2023-01-17'),
 (2, 'Bob', 'Marketing', 6777.0, '2022-02-23'),
 (3, 'alice', 'HR', 6000.0, '2023-01-17'),
 (4, 'Bob', 'Engineering', 85000.0, '2022-09-10'),
 (5, 'Charlie', 'Marketing', 55000.0, '2024-03-01'),
 (6, 'David', 'Engineering', 90000.0, '2021-11-20')]

In [18]:
# Update salary of an employee
cursor.execute("UPDATE employees SET salary = ? WHERE name = ?", (95000, "David"))

In [19]:
# Selecting the data from the table
cursor.execute('''
    SELECT * FROM employees
''')
cursor.fetchall()

[(1, 'alice', 'HR', 6000.0, '2023-01-17'),
 (2, 'Bob', 'Marketing', 6777.0, '2022-02-23'),
 (3, 'alice', 'HR', 6000.0, '2023-01-17'),
 (4, 'Bob', 'Engineering', 85000.0, '2022-09-10'),
 (5, 'Charlie', 'Marketing', 55000.0, '2024-03-01'),
 (6, 'David', 'Engineering', 95000.0, '2021-11-20')]

In [21]:
# Delete an employee by name
cursor.execute("DELETE FROM employees WHERE name = ?", ("Charlie",))

In [22]:
# Selecting the data from the table
cursor.execute('''
    SELECT * FROM employees
''')
cursor.fetchall()

[(1, 'alice', 'HR', 6000.0, '2023-01-17'),
 (2, 'Bob', 'Marketing', 6777.0, '2022-02-23'),
 (3, 'alice', 'HR', 6000.0, '2023-01-17'),
 (4, 'Bob', 'Engineering', 85000.0, '2022-09-10'),
 (6, 'David', 'Engineering', 95000.0, '2021-11-20')]

In [23]:
# Count the number of employees
cursor.execute("SELECT COUNT(*) FROM employees")
cursor.fetchone()[0]

5

In [24]:
# Count the number of employees
cursor.execute("SELECT COUNT(*) FROM employees")
count = cursor.fetchone()[0] 
print(f"Total number of employees: {count}\n")

Total number of employees: 5

In [25]:
# Close the connection
conn.commit()

In [26]:
conn.close()

In [ ]:
# reopen the data base

In [27]:
# Connect to the database
conn = sqlite3.connect('employee.db')
cursor = conn.cursor()

In [28]:
# Selecting the data from the table
cursor.execute('''
    SELECT * FROM employees
''')
cursor.fetchall()

[(1, 'alice', 'HR', 6000.0, '2023-01-17'),
 (2, 'Bob', 'Marketing', 6777.0, '2022-02-23'),
 (3, 'alice', 'HR', 6000.0, '2023-01-17'),
 (4, 'Bob', 'Engineering', 85000.0, '2022-09-10'),
 (6, 'David', 'Engineering', 95000.0, '2021-11-20')]

# insert more data rows

In [12]:
#Inserting more data rows
emp_data=[("Bob","Marketing",6777,"2022-02-23")]

cursor.executemany('''
    INSERT INTO employees (name, department, salary, join_date) VALUES (?,?,?,?)

''',emp_data)

In [14]:
cursor.execute(''' 
    SELECT * FROM employees
''')
cursor.fetchall()

[(1, 'alice', 'HR', 6000.0, '2023-01-17'),
 (2, 'Bob', 'Marketing', 6777.0, '2022-02-23')]

In [ ]:
#?--> EQUALENT TO WE NEED TO INPUT THE VALUES TO CODE

# The pickle module

In [ ]:
Implements binary protocol for serializing and de-serializing (serialize-a kind of convert it into binary format) a python object structure "pickling"

#convert obj to binary format(byte)

In [ ]:
Reference: https://docs.python.org/3/library/pickle.html#module-pickle

In [ ]:
Reference: https://docs.python.org/3/library/pickle.html#module-pickle

You are building a Python application that needs to save user session data to disk and retrieve it later using the pickle module.

Requirements:

Define a UserSession class with the following attributes:

username (string)
last_login_time (datetime)
preferences (dictionary of user settings, like theme, language, etc.)
Create at least two instances of the UserSession class with dummy data.
Serialize (save) the list of session objects to a file called sessions.pkl.
Later, deserialize (load) the list of sessions from the file.
Print out each user’s data in a readable format.
Deliverables:

Python code demonstrating creation, pickling, and unpickling.
Output showing the loaded data from the pickle file.
Use of proper error handling (e.g., FileNotFoundError or EOFError).
Challenge:

Add a feature that updates a user’s preferences and re-pickles the modified session list.

In [29]:
import pickle
from datetime import datetime

In [30]:
# Define the user session class
class UserSession:

    def __init__(self, username, last_login_time, preferences):
        self.username = username
        self.last_login_time = last_login_time
        self.preferences = preferences

    def __repr__(self):
        return( f"UserSession(username='{self.username}', last_login_time={self.last_login_time}, self.preferences={self.preferences})")

In [31]:
s1 = UserSession('Anil', datetime.now(), {'theme': "dark", "language":"English"})
s2 = UserSession('Sunil', datetime.now(), {'theme': "light", "language":"French"})

In [32]:
s1

UserSession(username='Anil', last_login_time=2025-04-09 14:31:47.792337, self.preferences={'theme': 'dark', 'language': 'English'})

In [33]:
s2

UserSession(username='Sunil', last_login_time=2025-04-09 14:31:47.792337, self.preferences={'theme': 'light', 'language': 'French'})

In [36]:
sessions= [s1,s2]

In [37]:
# Serialize the session list
with open("sessions.pkl", "wb") as f:
    pickle.dump(sessions, f)

# How to re-store the objects from a pickle file

In [38]:
try:
    with open("sessions.pkl", "rb") as f:
        loaded_sessions = pickle.load(f)
    for session in loaded_sessions:
        print(session)
except Exception as e:
    print(f"Exception {e}")

UserSession(username='Anil', last_login_time=2025-04-09 14:31:47.792337, self.preferences={'theme': 'dark', 'language': 'English'})
UserSession(username='Sunil', last_login_time=2025-04-09 14:31:47.792337, self.preferences={'theme': 'light', 'language': 'French'})

In [39]:
# Just to make sure they are objects that are retrieved
loaded_sessions[0].preferences["theme"] = "light"
loaded_sessions[0].preferences["language"] = "Spanish"

In [40]:
for session in loaded_sessions:
    print(session)

UserSession(username='Anil', last_login_time=2025-04-09 14:31:47.792337, self.preferences={'theme': 'light', 'language': 'Spanish'})
UserSession(username='Sunil', last_login_time=2025-04-09 14:31:47.792337, self.preferences={'theme': 'light', 'language': 'French'})

In [41]:
# Re-Serialize the session list
with open("sessions.pkl", "wb") as f:
    pickle.dump(sessions, f)

The sessions.pkl will have the updated session information

# Shelve -python object persistence

Shelve module- way to persistently store Python objects. It offers a dictionary-like interface, allowing you to store and retrieve objects using keys. The objects are serialized using the pickle module and stored in a file.

In [ ]:
shelve- entire it is  a dictionary, but backgorund it saved as a  file.

In [ ]:
Do not rely on the shelf being closed automatically; always call close() explicitly when you don’t need it any more, 
or use shelve.open() as a context manager:
with shelve.open('spam') as db:
    db['eggs'] = 'eggs'

In [ ]:
import shelve

In [44]:
import shelve

# Open a shelve file
with shelve.open('my_shelve.db') as db:
    # Store data
    db['student1'] = {'name': 'Alice', 'age': 30, 'marks': {'Math': 85, 'Science': 90}}
    db['student2'] = {'name': 'Bob', 'age': 25, 'marks': {'Math': 78, 'Science': 88}}

# Retrieve and display data
with shelve.open('my_shelve.db') as db:
    student1 = db['student1']
    student2 = db['student2']
    print("Student 1:", student1)
    print("Student 2:", student2)

# Update data
with shelve.open('my_shelve.db', writeback=True) as db:
    db['student1']['marks']['Math'] = 95  # Update Alice's Math marks
    db['student2']['marks']['Science'] = 92  # Update Bob's Science marks

# Retrieve and display updated data
with shelve.open('my_shelve.db') as db:
    student1 = db['student1']
    student2 = db['student2']
    print("\nUpdated Student 1:", student1)
    print("Updated Student 2:", student2)

Student 1: {'name': 'Alice', 'age': 30, 'marks': {'Math': 85, 'Science': 90}}
Student 2: {'name': 'Bob', 'age': 25, 'marks': {'Math': 78, 'Science': 88}}

Updated Student 1: {'name': 'Alice', 'age': 30, 'marks': {'Math': 95, 'Science': 90}}
Updated Student 2: {'name': 'Bob', 'age': 25, 'marks': {'Math': 78, 'Science': 92}}

 # The shelve Module

In [ ]:
The shelve module in Python is a powerful tool for persistent storage of Python objects. 
It allows you to store Python objects in a file using a dictionary-like API.

In [ ]:
Reference: https://docs.python.org/3/library/shelve.html#module-shelve

In [4]:
import shelve
d = shelve.open("data.shelve")  # open -- file may get suffix added by low-level
                           # library
d[key] = data              # store data at key (overwrites old data if
                           # using an existing key)
data = d[key]              # retrieve a COPY of data at key (raise KeyError
                           # if no such key)
del d[key]                 # delete data stored at key (raises KeyError
                           # if no such key)

NameError: name 'data' is not defined

In [ ]:
flag = key in d            # true if the key exists
klist = list(d.keys())     # a list of all existing keys (slow!)

# as d was opened WITHOUT writeback=True, beware:
d['xx'] = [0, 1, 2]        # this works as expected, but...
d['xx'].append(3)          # *this doesn't!* -- d['xx'] is STILL [0, 1, 2]!

# having opened d without writeback=True, you need to code carefully:
temp = d['xx']             # extracts the copy
temp.append(5)             # mutates the copy
d['xx'] = temp             # stores the copy right back, to persist it

# or, d=shelve.open(filename,writeback=True) would let you just code
# d['xx'].append(5) and have it work as expected, BUT it would also
# consume more memory and make the d.close() operation slower.

d.close()                  # close it

In [ ]:
s1, s2

In [ ]:
import shelve
d = shelve.open("data.shelve")

In [ ]:
d

In [ ]:
You treat the shelve object as a dictionary

In [ ]:
# Adding objects into shelve

d['Anil'] = s1
d['Sunil'] = s2

In [ ]:
d

In [ ]:
d.close()

In [ ]:
d['Anil']

In [ ]:
list(d.keys())

In [ ]:
d.close()