### Exercise 1

In [ ]:
basket = ["Apple", "Banana", "Cherry", "Mango"]

In [11]:
#Task: Insert "Grapes" between "Banana" and "Cherry". 
basket.insert(2,"Grapes")

In [12]:
basket

['Apple', 'Banana', 'Grapes', 'Cherry', 'Mango']

### Exercise 2

In [13]:
data = [10, 20, [30, 40, 50], 60, 70]

In [15]:
#Task: Change 40 to 45 inside the nested list
data[2][1]=45

In [16]:
data

[10, 20, [30, 45, 50], 60, 70]

### Exercise 3

In [17]:
nums = [3, 6, 9, 12, 15, 18, 21]

In [23]:
#Task: Extract [9, 12, 15] and reverse it
t= nums[2:5]

In [24]:
t.reverse()

In [25]:
t

[15, 12, 9]

### Exercise 4

In [120]:
numbers = [5, 3, 8, 5, 10, 5, 12, 5]

In [121]:
#Task: Remove all occurrences of 5 from numbers. 
occurence=[]
for x in numbers:
    if x!=5:
        occurence.append(x)
occurence

[3, 8, 10, 12]

### Exercise 5

In [36]:
list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]

In [39]:
#Task: Merge list1 and list2, then sort the combined list. 
sorted(list1+list2)

[1, 2, 3, 4, 6, 7, 8, 9]

### Exercise 6

In [50]:
colors = ("Red", "Green", "Blue", "Yellow")

In [ ]:
#Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple

In [51]:
temp=list(colors)
temp

['Red', 'Green', 'Blue', 'Yellow']

In [52]:
temp[1]="Cyan"
temp

['Red', 'Cyan', 'Blue', 'Yellow']

In [54]:
colors=tuple(temp)
colors

('Red', 'Cyan', 'Blue', 'Yellow')

### Exercise 7

In [57]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [60]:
#Task: Find the index of "Charlie".
names.index("Charlie")

2

In [62]:
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)

In [63]:
#Task: Count how many times 4 appears in nums_tuple.
nums_tuple.count(4)

4

In [65]:
values = [10, 20, 30, 40, 50]

In [66]:
#Task: Swap the first and last elements.
values[0],values[-1]=values[-1],values[0]
values

[50, 20, 30, 40, 10]

In [71]:
values = []

In [73]:
#Task: Generate a list of squares for numbers from 1 to 10.
for x in range(1, 11):
    values.append(x**2)
values

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
#Task: Reverse my_tuple without converting it to a list.

In [76]:
my_tuple[::-1]

(5, 4, 3, 2, 1)

In [78]:
data = [23, 45, 67, 12, 89, 34]

In [84]:
#Task: Find the maximum and minimum values in data.
max(data)

89

In [83]:
min(data)

12

In [122]:
nums = [10, 20, 30, 40, 50, 60, 70]

In [ ]:
#Task: Extract every second element from nums

In [124]:
nums[1::2]

[20, 40, 60]

In [91]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [92]:
#Task: Convert nested_list into a single flat list.
t= nested_list[0]+nested_list[1]+nested_list[2]
t

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]

In [119]:
#Task: Find common elements between list_a and list_b.
common = []
for x in list_a:
    if x in list_b:
        common.append(x)
common

[4, 5, 6]

In [148]:
commons=[]
master=list_a+list_b
for e in master:
    if e in list_a and e in list_b:
        if e not in commons:
            commons.append(e)
print(commons)

[4, 5, 6]

In [136]:
scores = [78, 55, 92, 30, 88, 62]

In [140]:
#Task: Sort scores in descending order.
scores.sort()
scores

[30, 55, 62, 78, 88, 92]

In [143]:
scores.reverse()
scores

[92, 88, 78, 62, 55, 30]

In [101]:
my_tuple = (1, 2, 3)

In [ ]:
#Task: Repeat my_tuple three times and store the result.

In [102]:
t=my_tuple*3
t

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [104]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

In [105]:
#Task: Remove duplicates while keeping the order.
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Remove duplicates
u = []
for num in numbers:
    if num not in u:
        u.append(num)
u

[1, 2, 3, 4, 5, 6]

In [109]:
words = ["Hello", "World", "Python", "Programming"]

In [ ]:
#Task: Insert "Amazing" at index 2.

In [110]:
words.insert(2,"Amazing")
words

['Hello', 'World', 'Amazing', 'Python', 'Programming']

In [112]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

In [114]:
#Task: Convert pairs into a dictionary. 
d=dict(pairs)
d

{'a': 1, 'b': 2, 'c': 3}