# Exercise1

In [3]:
nums = [1, 2, 3, 4, 5]

In [62]:
#Task: Use a for loop to calculate the sum of all elements in nums.
m=0
for i in nums:
    m=m+i
print("sum is",m)

sum is 15

# Exercise 2

In [ ]:
count = 5

In [8]:
#Task: Use a while loop to print numbers from count down to 1.
i = 5
while i > 0:
    print(i)
    i =i-1

5
4
3
2
1

# Exercise 3

In [70]:
fruits = ["Apple", "Banana", "Cherry", "Mango"]

In [74]:
#Task: Use a for loop to print each fruit in uppercase
for x in fruits:
    print(x.upper(),end=' ')

APPLE BANANA CHERRY MANGO

# Exercise 4

In [72]:
num = 1

In [ ]:
#Task: Use a while loop to print squares of numbers from 1 to 10.

In [73]:
while(num<=10):
    print(num**2)
    num+=1

1
4
9
16
25
36
49
64
81
100

# Exercise 5

In [19]:
values = [2, 4, 6, 8, 10]

In [21]:
#Task: Use a for loop to create a new list containing cubes of values.
new=[]
for i in values:
    new.append(i**3)
print(new)

[8, 64, 216, 512, 1000]

# Exercise 6

In [26]:
sentence = "Python is fun"

In [28]:
#Task: Use a for loop to count how many times 'o' appears in sentence. 
count=0
for char in sentence:
    if char=='o':
        count+=1
print(count)

1

# Exercise 7

In [63]:
num = 10

In [ ]:
#Task: Use a while loop to print even numbers from 10 to 2 in reverse order.

In [75]:
while(num!=0):
    if num%2==0:
        print(num)
    num-=1

10
8
6
4
2

# Exercise 8

In [40]:
matrix = [[1, 2], [3, 4], [5, 6]]

In [ ]:
#Task: Use nested for loops to print all elements in matrix

In [41]:
for x in matrix:
    for y in x:
        print(y)

1
2
3
4
5
6

# Exercise 9

In [68]:
num = 7

In [69]:
#Task: Use a while loop to find the factorial of num
fact=1
while(num>0):
    fact*=num
    num-=1
print(fact)

5040

# Exercise 10

In [56]:
numbers = [3, 9, 12, 18, 21, 25]

In [58]:
#Task: Use a for loop to print only the numbers divisible by 3.  
for x in numbers:
    if (x%3==0):
        print(x)

3
9
12
18
21