### 16.1 Defining a class in python

In [1]:
class student:

    # constructor and instance variable intialization
    def __init__(self, sname, sage, sgrade):
        self.name = sname
        self.age  = sage
        self.grade = sgrade
        self.marks = {}

    # class methods
    def set_marks(self, subj, marks):
        self.marks[subj] = marks

    def average(self):
        self.average = sum(self.marks.values())/len(self.marks.values())
        return self.average

    def print_report(self):
        print(f"\nSELF -> {self}")
        print("------------------------------------")
        print(f"NAME           | {self.name}")
        print(f"AGE            | {self.age}")
        print(f"GRADE          | {self.grade}")
        print("------------------------------------")
        for k, v in self.marks.items():
            print(str(k).rjust(10), "  |", str(v).ljust(5) )
        print("------------------------------------")
        print("AVERAGE        | ", self.average())

All functions you write in a class should have the first argument -> self
All instance variables should have the prefix self.
Whatever information is passed at the time of creation of object is picked up by the constructor if specified

In [2]:
s1 = student("Anil", 12, "7")
s2 = student("Sunil", 12, "7")

In [3]:
s1

In [4]:
s2

In [5]:
s1.set_marks("physics", 78)
s1.set_marks("chemistry", 88)

In [6]:
s2.set_marks("physics", 98)
s2.set_marks("chemistry", 68)

In [7]:
s1.print_report()

SELF -> <__main__.student object at 0x0000019E0B8E8F20>
------------------------------------
NAME           | Anil
AGE            | 12
GRADE          | 7
------------------------------------
   physics   | 78
 chemistry   | 88
------------------------------------
AVERAGE        |  83.0

In [44]:
s2.print_report()

SELF -> <__main__.student object at 0x000001F9983DA110>
------------------------------------
NAME           | Sunil
AGE            | 12
GRADE          | 7
------------------------------------
   physics   | 98
 chemistry   | 68
------------------------------------
AVERAGE        |  83.0

# 16.2 Exercise

In [ ]:
'''Create an employee class with the following features: name, age, company,
gross_salary, tax_rate, net_salary Implement methods to: print information, 
calculate net_salary based on tax rate, set the gross salary, set the tax rate'''

In [44]:
class Employee:
    def __init__(self, name, age, company):
        self.name = name
        self.age = age
        self.company = company
        self.gross_salary = 0
        self.tax_rate = 0
        self.net_salary = 0

    def calculate_net_salary(self):
        self.net_salary = self.gross_salary * (1 - self.tax_rate / 100)
        return self.net_salary

    def set_gross_salary(self, gross_salary):
        self.gross_salary = gross_salary
        self.calculate_net_salary()

    def set_tax_rate(self, tax_rate):
        self.tax_rate = tax_rate
        self.calculate_net_salary()

    def print_information(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Company: {self.company}")
        print(f"Gross Salary: {self.gross_salary}")
        print(f"Tax Rate: {self.tax_rate}")
        print(f"Net Salary: {self.net_salary}")

In [45]:
s1=Employee("Anil",36,"UST")

In [46]:
s1.set_gross_salary(10000)

In [49]:
s1.set_tax_rate(4)

In [50]:
s1.calculate_net_salary()

9600.0

In [51]:
s1. print_information()

Name: Anil
Age: 36
Company: UST
Gross Salary: 10000
Tax Rate: 4
Net Salary: 9600.0

In [52]:
print("Hello">"hello")

False

# Function overriding

In [1]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Dog barks")

# Create an instance of Dog
dog = Dog()
dog.speak()  # Output: Dog barks

Dog barks

In [ ]:
''' Create an employee class with the following features: name, age, company,
gross_salary, tax_rate, net_salary Implement methods to: print information, 
calculate net_salary based on tax rate, set the gross salary, set the tax rate'''

In [72]:
class employee:
    #class variable
    nEmployees=0  #class var---it is visible to all the object creating a particular class.without self.  calledas class car
    #Attributes
    def __init__(self,name,age,company,salary):
          #instance var is self.name,self.age,self.company.....etc..
        self.name=name
        self.age=age
        self.company=company
        self.salary=salary  #100000 INR
        self.taxrate=0
        self.bonus=0
        self.net_salary=''
        employee.nEmployees+=1 #when u call __init__ method , nEmployees will increment by one
    #methods
    def set_taxrate(self,tr):  #SELF-NEED TO CALL INSTANCE OF VAR
        self.taxrate=tr
        self.update_net_salary()
        return
    def set_bonus(self,bonus_per):
        try:
            self.bonus=bonus_per
            temp=float(self.salary.split()[0])
            temp=temp-(temp*self.bonus/100)
            print(temp)
            self.net_salary=''.join([str(temp),'INR'])
            return
        except:
            print("Incompatible input") 

    def update_net_salary(self):
        try:
            temp=float(self.salary.split()[0])
            temp=temp-(temp*self.taxrate/100)
            print(temp)
            self.net_salary=' '.join([str(temp),'INR'])
            return
        except:
            print("Incompatible input")
    def print(self):
        print("\n")
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-"*80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, ' pct')
        print("-"*80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

In [56]:
e = employee("Anil", 35, "UST Global", "1500000 INR")  #e is object --obh=ject creation
e.print()

NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  0
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =

In [57]:
e.set_taxrate(10)
e.print()

1350000.0


NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =  1350000.0 INR

In [73]:
e.set_bonus(10)
e.print()

1350000.0


NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1350000.0INR

In [53]:
e.set_bonus(80)

34000.0

In [74]:
e.print()

NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1350000.0INR

# Class variables

In [75]:
employee.nEmployees

0

In [76]:
e.nEmployees

0

In [81]:
e1 = employee("Sunil", 35, "UST Global", "1500000 INR")
e2 = employee("Vinil", 35, "UST Global", "1500000 INR")
e1.print()
e2.print()

NAME                  ->  Sunil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  0
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =


NAME                  ->  Vinil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  0
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =

In [82]:
e.nEmployees

0

In [83]:
e.nEmployees, e1.nEmployees, e2.nEmployees

(0, 4, 4)